.dayOrWeek {
  background-color: inherit;
  transition: 0.5s;
  border: none;

  color: lightgray;
  font: {
    size: 1.6em;
    weight: 400;
  }

  @media screen and (max-width: 992px) {
    font-size: 1.3em;
  }

  &:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
}

button.dayOrWeekSelected {
  color: black;
  text-decoration: underline;
  transition: 0.5s;
}

.celsiusOrFarheneit {
  width: 30px;
  height: 30px;
  font-size: 1em;
  font-weight: 600;
  background-color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  transition: 0.5s;

  @media screen and (min-width: 400px) {
    width: 35px;
    height: 35px;
  }

  @media screen and (min-width: 576px) {
    width: 40px;
    height: 40px;
  }

  &:hover {
    background-color: lightgray;
    transition: 0.3s;
  }

  @media screen and (max-width: 992px) {
    font-size: 1em;
  }
}

button.celsiusOrFarheneitSelected {
  background-color: black;
  color: white;

  &:hover {
    background-color: black;
  }
  transition: 0.5s;
}

.upperRightCards {
  // @media screen and (max-width: 1050px) {
  //   display: flex;
  //   align-items: center;
  // }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }
}
