.dayOrWeek {
  background-color: inherit;
  transition: 0.5s;
  border: none;

  color: lightgray;
  font: {
    size: 1.6em;
    weight: 400;
  }

  @media screen and (max-width: 992px) {
    font-size: 1.3em;
  }

  &:focus {
    color: black;
    text-decoration: underline;
    transition: 0.5s;
  }

  &:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
}

.celsiusOrFarheneit {
  font-size: 1.3em;
  background-color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 30px;
  transition: 0.5s;

  &:focus {
    background-color: black;
    color: white;
    transition: 0.5s;
  }

  &:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

  @media screen and (max-width: 992px) {
    font-size: 1em;
  }
}

.upperRightCards {
  @media screen and (max-width: 1050px) {
    display: flex;
    align-items: center;
  }
}
