.highlights {
  padding-bottom: 1.5em;
  h3 {
    @media screen and (max-width: 1400px) {
      font-size: 1.4em;
    }
    @media screen and (max-width: 1200px) {
      font-size: 1.3em;
    }
  }
}

.cardContainer {
  height: 40%;
  padding: 0 10px 20px 10px;

  .detailCard {
    height: 200px;
    background-color: white;
    margin: 0;
    border: none;
    border-radius: 25px;
    transition: 0.3s;
    @media screen and (max-width: 1300px) {
      height: 175px;
    }
    @media screen and (max-width: 1000px) {
      height: 125px;
    }
    @media screen and (max-width: 767px) {
      height: 175px;
    }
    @media screen and (max-width: 450px) {
      height: 125px;
    }

    &:hover {
      transform: scale(1.05);
      transition: 0.3s;
    }
    .card-title {
      margin: 0;
      h5 {
        color: rgb(150, 150, 150);
        font-size: 1.3em;
        font-weight: 600;
        padding: 0.5em 1em;
        margin: 0;
        transition: 0.2s;
        @media screen and (max-width: 1400px) {
          font-size: 1em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        @media screen and (max-width: 992px) {
          font-size: 0.8em;
        }
        @media screen and (max-width: 900px) {
          font-size: 0.65em;
        }
        @media screen and (max-width: 767px) {
          font-size: 0.9em;
        }
        @media screen and (max-width: 450px) {
          font-size: 0.7em;
        }
      }
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0 30px 0.5em 30px;
      transition: 0.2s;
      @media screen and (max-width: 1200px) {
        padding: 0 15px 0.5em 15px;
      }

      p {
        font-size: 1.1em;
        margin: 0;
        transition: 0.2s;
        @media screen and (max-width: 1400px) {
          font-size: 1em;
        }
        @media screen and (max-width: 1150px) {
          font-size: 0.8em;
        }
        @media screen and (max-width: 992px) {
          font-size: 0.7em;
        }
        @media screen and (max-width: 992px) {
          font-size: 0.8em;
        }
        @media screen and (max-width: 450px) {
          font-size: 0.7em;
        }
      }

      h2 {
        font-weight: 500;
        transition: 0.2s;
        @media screen and (max-width: 1400px) {
          font-size: 1.5em;
        }
        @media screen and (max-width: 1150px) {
          font-size: 1.1em;
        }
        @media screen and (max-width: 992px) {
          font-size: 0.85em;
        }
        @media screen and (max-width: 992px) {
          font-size: 1em;
        }
        @media screen and (max-width: 450px) {
          font-size: 0.8em;
        }
      }

      .weatherIcon {
        width: 13%;
        transition: 0.2s;
        @media screen and (max-width: 992px) {
          width: 16%;
        }
      }
    }
  }
}
