@import "./assets/_partials/MainLeftComponent.scss";

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #d5d6da;
}

#root {
  width: 100%;
  height: 100%;
}

.mainContainer {
  padding: 16px;
  background-color: white;
  border-radius: 40px;
}
